body {
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 0 30px 0;
}
table {
	border: 0px;
	width: 800px;
	padding: 0px;
	margin: 0;
}
td {
	vertical-align: top;
	text-align: center;
	border: 1px solid white;
	padding: 5px;
}
td.head {
	background: url(img/rfidspan.png) no-repeat 10px 10px;
	width: 218px;
	height: 20px;
	color: #313131;
	text-align: left;
	font-size: 14px;
	font-style: italic;	
	padding: 66px 0 0 20px;
}
th {
	background: #1F7BC9;
	color: #FFF;
	padding: 10px;
	font-size: 14px;
	border-bottom: 4px solid #FFF;
}
td.pgtitle {
	font-weight: bold;
	color: #313131;
	font-size: 14px;
	padding: 15px 0 10px 20px;
}
td.label {
	background: #e3f1fa;
	width: 173px;
	text-align: right;
	padding: 10px;
	color: #5d5d5d;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}
td.labelL {
	background: #e3f1fa;
	width: 173px;
	text-align: left;
	padding: 10px;
	color: #313131;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}
td.labelC {
	background: #e3f1fa;
	width: 173px;
	text-align: center;
	padding: 10px;
	color: #313131;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}
td.labelv {
	background: #e3f1fa;
	width: 173px;
	text-align: left;
	padding: 10px;
	color: #5d5d5d;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}
td.input {
	background: #EDEDED;
	text-align: left;
	padding: 6px;
	border-bottom: 2px solid #FFF;
	border-left: 2px solid #FFF;
}
td.display {
	background: #e3f1fa;
	text-align: left;
	height: 26px;
	color: #5d5d5d;
	font-weight: bold;
	border-bottom: 1px solid #FFFFFF;
}
.submit {
	background: #FFF;
	padding: 10px;
}
input {
	color: #999;
}
ul {
	list-style-type: none;
	padding: 0 5px 0 20px;
	margin: 0;
	width: 120px;
}
ul li {
	background-color: #8A8E91;
	border-bottom: 1px solid #FFF;
}
ul li a:link, ul li a:visited {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	text-decoration: none;
	padding: 10px;
}
ul li a:hover, ul li a:active {
	color: #000;
	text-decoration: none;
	background: #CCC
}
body#lan a#lan, body#wan a#wan, 
body#password a#password,
body#dhcpserver a#dhcpserver, 
body#portforwarding a#portforwarding,
body#ddns a#ddns, body#systeminfo
a#systeminfo, body#logs a#logs,
body#savesettings a#savesettings,
body#reboot a#reboot {
	background: #CCC;
	color: #000;
}